:root {
/* Primary */
--Purple600: hsl(246, 80%, 60%);

--Orange300 : hsl(15, 100%, 70%); 
--Blue300 : hsl(195, 74%, 62%);
--Pink400 : hsl(348, 100%, 68%);
--Green400 : hsl(145, 58%, 55%);
--Purple700 : hsl(264, 64%, 52%);
--Yellow300 : hsl(43, 84%, 65%);

/* Neutral */
--Navy950: hsl(226, 43%, 10%);
--Navy900: hsl(235, 46%, 20%);
--Navy800: hsl(235, 46%, 30%);
--Purple500: hsl(235, 45%, 61%);
--Navy200: hsl(236, 100%, 87%);

/* font weights */
--fw300: 300;
--fw400: 400;
--fw500: 500;
}



* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  padding: 0;
  margin: 0;
}

/* name */
h1 {
    font-size: 2.5em;
    font-weight: var(--fw300);
    padding-bottom: 1em;
}

/* small text */
p {
    color: var(--Navy200);
    margin-bottom: .5em;
}

/* hours */
h2 {
    font-size: 3rem;
    font-weight: var(--fw300);
}

/* subtitles: work, play, study etc. */
h3 {
    font-weight: var(--fw500);
    font-size: 1.125rem;
    padding-bottom: 1.5em;
}

/* toggle text */
h4 {
    font-size: 1.25rem;
    font-weight: var(--fw300);
    color: var(--Purple500);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-color: var(--Navy950);
    color: white;
}

main {
    width: 60%;
    max-width: 1100px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        'profile work play study'
        'profile exercise social selfCare';
    gap: 2em;
    /* background-color: aqua; */
    /* height: 65%; */
    max-height: 540px;
    min-width: 910px;
}

.profile {
    background-color: var(--Navy900);
    border-radius: 15px;
    height: 100%;
    /* overflow: hidden; */
}

.profile__reportFor {
    background-color: var(--Purple600);
    display: flex;
    flex-direction: column;
    & img {
        width: 5em;
        border: 3px solid white;
        border-radius: 1000px;
        margin-bottom: 2em;
    }
}

.profile__toggle {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

.profile__toggle__option {
    transition: color 0.4s;
}
.profile__toggle__option:hover {
    color: white;
    cursor: pointer;
}

.profile__reportFor, .profile__toggle {
    padding: 2em;
    border-radius: 15px;
}

.subcontainer {
    border-radius: 15px;
    overflow: hidden;
}

.subcontainer__img  {
    height: 17%;
    & img {
        position: relative;
        right: -55%;
        top: -15%;
    }
}

.subcontainer__text {
    height: 83%;
    background-color: var(--Navy900);
    padding: 2em;
    position: relative;
    /* top: 20%; */
    border-radius: 15px 15px 0em 0em;
    transition: background-color 0.3s;
}
.subcontainer__text:hover {
    background-color: var(--Navy800);
}

.subtitle__container {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    padding-right: auto;
    justify-content: space-between;
    & a {
        height: 1em;
        transition: filter 0.4s;
    }
    & a:hover {
        filter: brightness(200%);
    }

}

.subcontainer__text__stats {
    display: flex;
    flex-direction: column;
}

/* show daily by default */
.daily, .daily__previous {
    display: block;
}
.weekly, .weekly__previous, .monthly, .monthly__previous {
    display: none;
}

/* unique background colour and image for each subsection */
.profile { grid-area: profile; }
.work { 
    grid-area: work; 
    background-image: url('/images/icon-work.svg'), linear-gradient(to bottom, var(--Orange300) 50%, var(--Navy900) 70%);
}
.play { 
    grid-area: play; 
    background-image: url('/images/icon-play.svg'), linear-gradient(to bottom, var(--Blue300) 50%, var(--Navy900) 70%);
}
.study { 
    grid-area: study;
    background-image: url('/images/icon-study.svg'), linear-gradient(to bottom, var(--Pink400) 50%, var(--Navy900) 70%);
}
.exercise { 
    grid-area: exercise; 
    background-image: url('/images/icon-exercise.svg'), linear-gradient(to bottom, var(--Green400) 50%, var(--Navy900) 70%);
}
.social { 
    grid-area: social; 
    background-image: url('/images/icon-social.svg'), linear-gradient(to bottom, var(--Purple700) 50%, var(--Navy900) 70%);
}
.selfCare { 
    grid-area: selfCare; 
    background-image: url('/images/icon-self-care.svg'), linear-gradient(to bottom, var(--Yellow300) 50%, var(--Navy900) 70%);
}
.subcontainer {
    background-repeat: no-repeat;
    background-position: 80% -5%;
}


@media screen and (max-width: 910px) {
    h1 {
        padding-bottom: 0;
    }
    
    body {
        /* background-color: aqua; */
        overflow: scroll;
        align-items: flex-start;
        /* justify-items: center; */
        height: 100%;
        width: 98vw;
        padding: 20px 0;
    }

    footer {
        margin: 0 auto;
    }

    .container {
        /* background-color: aqua; */
         grid-template-columns: 100%;
         /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
         grid-template-rows: none;
        grid-template-areas: 
        'profile' 'work' 'play' 'study'
        'exercise' 'social' 'selfCare';
        width: 100%;
        max-height: 100%;
        min-width: 345px;
        max-width: 630px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .profile__reportFor {
        flex-direction: row;
        align-items: center;
        gap: 2em;
        & img {
            margin: auto 0;
            /* width: auto; */
            /* height: 100%; */
        }
        & .profile__reportFor__text p {
            margin: auto 0;
        }
    }

    .profile__toggle {
        flex-direction: row;
        justify-content: space-around;
        padding: 1.25em ;
    }

    .subcontainer__text__stats {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 2em;
    }

}
